{% extends 'base.html.twig' %}

{% block title %}Bucket List | Home{% endblock %}

{% block body %}


    <div class="container card shadow-sm p-3" style="max-width: 600px;width: 100%">
        <h1 class="text-center mb-3">Bienvenue sur Bucket List</h1>
        <p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A aliquid blanditiis cum dicta
            facilis itaque minima reiciendis. Architecto assumenda commodi consequuntur dolor expedita facilis nesciunt
            nulla odit, provident, saepe voluptate.</p>
    </div>

{% endblock %}
