* {
    cursor: url('../img/paw.svg'), auto;
}

body {
    background: url("../img/temple.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

header, footer {
    position: relative;
    z-index: 10;
}

a {
    cursor: pointer;
}

.separator {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}
.img-container {
    height: 300px;
}

img {
    height: 100%;
}